.head-info label{
    cursor: pointer;
}
.reg{
    text-align: center;margin-top: 10px;
}
.reg a{
    color: red;
}
input:focus{
    border-color: blue!important;
}
.codes{
    position: relative;
}
.date{
    position: absolute;
    width: 100px;
    right: 0;
    height: 57px;
    z-index: 888;
}